.main-content {
  h1 {
    color: $primary-color;
    font-weight: 400;
    font-size: 1em;
    position: absolute;
    top: 50px;
    right: 20px;

    @media (min-width: 1300px) {
      font-size: 1.8em;
    }

    @media (min-width: 1440px) {
      right: 100px;
    }
  }
}
