.main-nav {
  padding-top: 40px;

  @media (min-width: 1080px) {
      padding: 0 0 0 100px;
  }

  .interactive-nav {
    display: none;
    position: absolute;
    top: 6px;
    left: 50%;
    right: 50%;
    transform: translateX(-50%);
    font-weight: 700;
    color: #000;
    background: $nav-color;
    width: 182px;
    height: 30px;
    text-align: center;
    border-radius: 5px;
    padding: 4px 0 0 0;
  }
}