.works-sort {
  display: none;
  margin: 20px 0 0 20px;

  @media (min-width: 800px) {
    display: block;
  }

  @media (min-width: 1200px) {
    margin-left: 100px;
  }

  label {
    font-weight: 700;
    margin-right: 25px;
  }

  select {
    background: $primary-color;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 2px;
  }
}

.works-elts {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 45px 0;
  padding: 0 20px;

  @media (min-width: 1200px) {
    margin: 45px 100px;
    padding: 0;
  }

  @media (min-width: 1440px) {
    justify-content: space-between;
  }
}

.work-elt {
  color: $primary-color;
  font-size: 1.1em;
  font-weight: 500;
  width: 335px;
  margin: 0 0 10px 0;

  @media (min-width: 710px) {
    margin: 0 5px 10px 5px;
  }

  @media (min-width: 1300px) {
    width: 350px;
  }

  h2 {
    font-size: 1em;
    font-weight: 400;
  }

  img,
  video {
    width: 335px;
    height: 190px;
    object-fit: cover;
    border-radius: 5px;

    @media (min-width: 1300px) {
      width: 350px;
      height: 300px;
    }
  }

  img:hover,
  video:hover {
    cursor: pointer;
  }

  &-infos {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
  }

  .work-title {
    width: 225px;
  }

  .fa-heart {
    margin-left: 5px;

    &:hover {
      cursor: pointer;
    }
  }
}