.ph-header {
  display: flex;
  justify-content: space-between;
  margin: 0 20px;

  @media (min-width: 900px) {
    position: relative;
  }

  @media (min-width: 1200px) {
    margin: 0 100px;
    padding: 63px 35px 48px 65px;
    background: $header-color;
  }

  img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;

    @media (min-width: 800px) {
      width: 200px;
      height: 200px;
    }
  }
}

.ph-infos {
  .ph-name {
    color: $secondary-color;
    font-size: 2.4em;
    font-weight: 400;

    @media (min-width: 800px) {
      font-size: 2.8em;
    }
  }

  .ph-city {
    color: $primary-color;
    display: block;
    font-size: 0.9em;

    @media (min-width: 800px) {
      font-size: 1.2em;
    }
  }

  .ph-tagline {
    color: $tertiary-color;
    font-size: 0.8em;

    @media (min-width: 800px) {
      display: block;
      font-size: 0.9em;
      margin: 15px 0;
    }
  }

  .tags {
    justify-content: flex-start;
  }
}

.ph-contact {
  background: $primary-color;
  width: 170px;
  height: 35px;
  color: #fff;
  font-weight: 500;
  border: none;
  border-radius: 5px;
  font-size: 1em;
  position: fixed;
  left: 50%;
  right: 50%;
  transform: translateX(-50%);
  bottom: 28px;
  cursor: pointer;

  @media (min-width: 900px) {
    position: absolute;
    left: 400px;
    top: 0;
    transform: translateX(0);
    height: 70px;
  }

  @media (min-width: 1200px) {
    left: 480px;
    top: 60px;
  }
}