.photographers {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-top: 20px;

  @media (min-width: 1080px) {
    padding: 80px 0;
  }

  &-elt {
    text-align: center;
    padding-bottom: 30px;
    min-width: 300px;

    @media (min-width: 900px) {
      width: 30%;
    }

    img {
      width: 200px;
      height: 200px;
      object-fit: cover;
      border-radius: 50%;
    }

    h2 {
      color: $secondary-color;
      font-weight: 400;
      font-size: 2em;
      margin-top: 10px;
    }

    .infos {
      span {
        display: block;
        font-size: 0.7em;
        padding: 1px 0;
      }

      &-city {
        color: $primary-color;
        font-size: 0.8em;
      }

      &-price {
        color: $price-color;
        font-style: italic;
      }
    }
  }
}