.tags {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 5px 0;

  a {
    color: $primary-color;

    &:before {
      content: "#";
    }
  }

  li {
    display: flex;
    border: 0.5px solid $border-color;
    border-radius: 30px;
    margin: 3px 6px 3px 0;
    color: $primary-color;
    padding: 2px 7px;
    font-weight: 500;
    font-size: 0.8em;

    &:hover,
    &.selected {
      cursor: pointer;
      background: $primary-color;
      border-color: $primary-color;
    }

    &:hover a,
    &.selected a {
      color: #fff;
    }
  }
}
