$primary-color: #901c1c;
$secondary-color: #d3573c;
$tertiary-color: #525252;

$border-color: #c4c4c4;
$price-color: #757575;
$header-color: #fafafa;
$nav-color: #db8876;

$font-family: 'DM Sans', sans-serif;